<footer>
    <nav>
        <ul>
            <a href="{{ path('author_show_all') }}"><li><i class="fas fa-users"></i> Tous les Auteurs</li></a>
            <a href="{{ path('author_show_single', {'id': 'Corso'}) }}"><li><i class="fas fa-user"></i> Auteur Seul</li></a>
            <a href="{{ path('author_create') }}"><li><i class="fas fa-plus"></i> Créer un Auteur</li></a>
            <a href="{{ path('author_edit', {'id': 'Corso'}) }}"><li><i class="fas fa-wrench"></i> Modifier Auteur</li></a>
            <a href="{{ path('author_delete', {'id': 'Corso'}) }}"><li><i class="fas fa-trash"></i> Supprimer un Auteur</li></a>
        </ul>
    </nav>
</footer>