<footer>
    <nav>
        <ul>
            <a href="{{ path('author_show_all') }}"><li>Tous les Auteurs</li></a>
            <a href="{{ path('author_show_single', {'id': 'Roman'}) }}"><li>Auteur Seul</li></a>
            <a href="{{ path('author_create', {'id': 'Roman'}) }}"><li>Créer un Auteur</li></a>
            <a href="{{ path('author_edit', {'id': 'Roman'}) }}"><li>Modifier Auteur</li></a>
            <a href="{{ path('author_delete', {'id': 'Roman'}) }}"><li>Supprimer un Auteur</li></a>
        </ul>
    </nav>
</footer>