{% extends 'base.html.twig' %}

{% block title %}Création d'un Article{% endblock %}

{% block content %}

    <h1>Vous allez créer un nouvel Article</h1>

    {{ form_start(articleForm) }}


    <h5><i class="fa fa-calendar"></i> {{ form_label(articleForm.title) }}</h5>
    {{ form_widget(articleForm.title) }}

    <small>{{ form_help(articleForm.title) }}</small>

    <h5><i class="fa fa-user"></i> {{ form_label(articleForm.auteur) }}</h5>
    {{ form_widget(articleForm.auteur) }}

    <small>{{ form_help(articleForm.auteur) }}</small>

    <h5><i class="fa fa-calendar"></i> {{ form_label(articleForm.content) }}</h5>
    <div class="scroller">
    {{ form_widget(articleForm.content,{ 'attr': {'rows': '20'} }) }}
    </div>
    <small>{{ form_help(articleForm.content) }}</small>

    <div class="formButton">
        {{ form_widget(articleForm.valider) }}
    </div>

    {{ form_end(articleForm) }}

{% endblock %}